*.user
**/*.user
packages/
**/Service\ References/
TestResults/
_ReSharper.CalendarManager/
CalendarManager.v11.suo
*.suo
CalendarManager.DTO/bin/
CalendarManager.DTO/obj/
CalendarManager.DataAccess/bin/
CalendarManager.DataAccess/obj/
CalendarManager.Infrastructure/bin/
CalendarManager.Infrastructure/obj/
CalendarManager.IoC/bin/
CalendarManager.IoC/obj/
CalendarManager.Mapper/bin/
CalendarManager.Mapper/obj/
CalendarManager.Migrations/bin/
CalendarManager.Migrations/obj/
CalendarManager.Model/bin/
CalendarManager.Model/obj/
CalendarManager.Queries/bin/
CalendarManager.Queries/obj/
CalendarManager.Services/bin/
CalendarManager.Services/obj/
CalendarManager/bin/
CalendarManager/obj/
CalendarManager.EntityFramework/obj/
CalendarManager.EntityFramework/bin/
